{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
    <div class="jumbotron">
        <a class="badge badge-light" href="{{ path('livre_index') }}">back to list</a>
        <h1>Create new Livre</h1>
    </div>

    {{ include('livre/_form.html.twig') }}

{% endblock %}
