<form method="post" action="{{ path('admin_auteur_delete', {'id': auteur.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet auteur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
