<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Bibliothèque</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Page d'accueil</a>
                    </li>
                    <li class="nav-item">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPRUNTEUR') %}
                    <a class="nav-link" href="/logout">Me déconnecter</a>
                    {% else %}
                    <a class="nav-link" href="/login">Se connecter</a>
                    {% endif %}
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Interfaces d'administration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">
                                <a class="dropdown-item" title="gestion des livres" href="/livre/">Livres</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" title="gestion des auteurs" href="/auteur/">Auteurs</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" title="gestion des genres" href="/genre/">Genres</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" title="gestion des emprunteurs" href="/emprunteur/">Emprunteurs</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" title="gestion des emprunts" href="/emprunt/">Emprunts</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" title="gestion des users" href="/user/">Users</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    </ul>
                </ul>
            </div>
          </nav>
        {% block body %}{% endblock %}
    </body>
</html>
