{% extends 'base.html.twig' %}

{% block title %}New Emprunt{% endblock %}

{% block body %}
    <div class="jumbotron">
        <a class="badge badge-light" href="{{ path('emprunt_index') }}">back to list</a>
        <h1>Create new Emprunt</h1>
    </div>

    {{ include('emprunt/_form.html.twig') }}

{% endblock %}
